*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.top{
    width: 100%;
    height: 40vh;
    background-color: white;
}
.med{
    width: 100%;
    height: 40vh;
    background-color:aquamarine;
}
.bot{
    width: 100%;
    height: 60vh;
    background-color:white;
}
.top1{
    width: 100%;
    height: 20vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: self-end;
}.top2{
    width: 100%;
    height: 20vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.top1y1{
    width: 30vw;
    height: 7vh;
    background-color: black;
}
.top1y1y1{
    height: 100%;
    width: 90%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top1y1y2{
    height: 100%;
    width: 90%;
}
.top1y1y1y1{
    height: 30%;
    width: 80%;
    background-color:white;
    align-items: center;
}
.top1y1y2 {
    display: flex;
    gap: 5vw; 
    justify-content: center; 
}

.top1y1y2y1,
.top1y1y2y2,
.top1y1y2y3,
.top1y1y2y4 {
    width: 15vw;
    height: 20px; 
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}




