*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.top{
    width: 100%;
    height: 40vh;
    background-color: white;
}
.med{
    width: 100%;
    height: 40vh;
    background-color:aquamarine;
}
.bot{
    width: 100%;
    height: 60vh;
    background-color:white;
}
.top1{
    width: 100%;
    height: 20vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: self-end;
}.top2{
    width: 100%;
    height: 20vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.top1y1{
    width: 30vw;
    height: 7vh;
    background-color: black;
}
.top1y1y1{
    height: 100%;
    width: 90%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top1y1y2{
    height: 100%;
    width: 90%;
}
.top1y1y1y1{
    height: 30%;
    width: 80%;
    background-color:white;
    align-items: center;
}
.top1y1y2 {
    display: flex;
    gap: 5vw; 
    justify-content: center; 
}

.top1y1y2y1,
.top1y1y2y2,
.top1y1y2y3,
.top1y1y2y4 {
    width: 15vw;
    height: 20px; 
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.med{
    display: flex;
    width: 100%;
    height: 40vh;
}
.med1{
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.med2{
    width: 70%;
    height: 100%;
}
.med1y1{
    width: 10vw;
    height: 25vh;
    background-color:aqua;
    margin-right: 40px;
}
.med1y1y1{
    width: 100%;
    height: 20%;
    display: flex;
}
.med1y1y2{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.mede{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
.medo{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-start;
}
.mede1{
    width: 40%;
    height: 40%;
    background-color:aquamarine;
}
.medo1{
    width: 70%;
    height: 40%;
    background-color:white;
    margin-left: 5px;
}
.mede11{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    margin-top: 10px;
}
.medo11{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-top: 10px;
}
.mede12{
    width: 40%;
    height: 10%;
    background-color:aquamarine;
}
.medo12{
    width: 70%;
    height: 10%;
    background-color:white;
    margin-left: 5px;
}
.med1 {
    width: 30%;
}

.med2 {
    width: 60%;
    height: 100%;

}
.ivocra {
    width: 60%;
    height: 20px;
    background-color: #666;
    margin: 10px auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.lista li {
    width: 60%;
    height: 10px;
    background-color: white;
}
.lista li.eee {
    width: 40%; 
}

.bot1{
    width: 100%;
    height: 50%;
    display: flex;
}
.bot2{
    width: 100%;
    height: 50%;
    background-color: black;
}
.bot1y1{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.bot1y2{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot1y3{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
}
.b1{
    width: 30%;
    height: 70%;
    background-color:red;
}
#b2{
    background-color: aqua;
}
#b3{
    background-color: yellow;
}








